<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-fab-menu/paper-fab-menu.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="recipe-list.html">
<dom-module id="blog-menu">
    <template>
        <style include="shared-styles">

        </style>
        <iron-selector selected="[[routeData.page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <paper-fab-menu hidden$="{{scrolling}}" icon="add" position="horizontal">
                <template is="dom-if" if="{{showBlog}}"> 
                    <a name="newblog" href="/blogform">
                        <paper-fab-menu-item label="Add blog" icon="editor:insert-drive-file"></paper-fab-menu-item>
                    </a>
                </template>
                <template is="dom-if" if="{{showRecipe}}"> 
                    <a name="newrecipe" href="{{newRecipeUrl}}">
                        <paper-fab-menu-item label="Add recipe" icon="editor:mode-edit"></paper-fab-menu-item>
                    </a>
                </template>
            </paper-fab-menu>
        </iron-selector>
        <recipe-list url={{getUrl}}></recipe-list>
    </template>
    <script>
    Polymer({
        is: 'blog-menu',
        properties:{
            newRecipeUrl:{
                type:String,
                value:''
            },
            showBlog:{
                type:Boolean,
                value:false,
                notify:true
            },
            showRecipe:{
                type:Boolean,
                value:false,
                notify:true
            }
        },
        getRecipeUrl:function(){
            this.newRecipeUrl = '/newrecipe'+this.routeData.path;
        },
        ready:function(){
            if(this.showRecipe){
                this.getRecipeUrl();
            }
        }
    });
    </script>
</dom-module>