<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="recipe-item.html">
<dom-module id="blog-list">
    <template>
        <style include="shared-styles">

        </style>
        <iron-ajax id="blogAjax" method="get" url="{{url}}" content-type="application/json" handle-as="json" on-response="handleBlogsResponse"
            on-error="handleBlogsError">
        </iron-ajax>
        <iron-media-query query="(min-width: 600px)" query-matches="{{wide}}"></iron-media-query>
        <iron-media-query query="(min-width: 900px)" query-matches="{{veryWide}}"></iron-media-query>
        <div class="layout vertical">
            <template is="dom-repeat" items="{{blogs}}">
                <blog-item user="{{user}}" follow-url="{{getFollowUrl(item)}}" photo-url="{{getBlogUrl(item)}}" item-url="{{getBlogUrl(item)}}"
                    item={{item}} wide={{wide}} very-wide={{veryWide}}></blog-item>
            </template>
        </div>
    </template>
    <script>
            Polymer({
                is: 'blog-list',
                properties: {
                    url: {
                        type: String,
                        value: null
                    },
                    wide:{
                        type:Boolean,
                        notify:true
                    },
                    authorize:{
                        type:Boolean,
                        value:false
                    }
                },
                getPhotoUrl:function(item){
                    if(item.photos!=null && item.photos.length>0){
                        return this.baseUrl +'/file/'+item.photos[0];
                    }else{
                        return null;
                    }
                },
                getBlogUrl:function(item){
                    return '/blog/'+item._id;
                },
                getFollowUrl:function(item){
                    return this.baseUrl+'/blog/follow/'+item._id;
                },
                getBlogs: function () {
                    if(this.authorize){
                        this.$.recipesAjax.headers = {'Authorization': 'Bearer '+this.user.token};
                    }
                    this.$.blogAjax.generateRequest();
                },
                handleBlogsResponse: function (event) {
                    this.blogs = event.detail.response;
                },
                handleBlogsError: function (event) {
                    console.log(event);
                }
            });
    </script>
</dom-module>