/**
* Created by rebzden on 25/10/16.
*/
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-validator-behavior/iron-validator-behavior.html">

<script>
    Polymer({

        is: 'custom-validator',
        behaviors: [
            Polymer.IronValidatorBehavior
        ]

    });

</script>