<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../bower_components/file-upload/file-upload.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="form-recipestep.html">
<link rel="import" href="recipe-photos.html">
<link rel="import" href="material-select.html">
<dom-module id="form-recipe">
    <template>
        <style include="shared-styles">
            paper-card {
                margin: 5px;
            }
        </style>
        <iron-media-query query="(min-width: 600px)" query-matches="{{wide}}"></iron-media-query>
        <iron-ajax id="addRecipeAjax" url="{{postUrl}}" method='POST' content-type="application/json" handle-as="json" last-response='{{response}}'
            headers='{{headers}}' loading='{{loading}}' on-response="handleResponse" on-error="handleError">
        </iron-ajax>
        <iron-ajax auto id="getIngredientsAjax" url="[[ingredientUrl]]" method='GET' content-type="application/json" handle-as="json"
            last-response='{{ingredientList}}' loading='{{loading}}'>
        </iron-ajax>
        <iron-ajax auto id="getKitchenTypesAjax" url="[[kitchenTypeUrl]]" method='GET' content-type="application/json" handle-as="json"
            last-response='{{kitchenTypesList}}' loading='{{loading}}'>
        </iron-ajax>
        <form is="iron-form" method="post" action="{{postUrl}}" id="recipeForm" headers='{{headers}}' content-type="application/json" on-iron-form-presubmit="_presubmit">
            <button hidden type="submit"></button>
            <div class$="{{getClasses(wide)}}">
                <div class="layout vertical flex-7">
                    <paper-card heading="Title" class="cyan fullbleed">
                        <div class="card-content">
                            <paper-input value="{{name}}" name="name" label="Name"></paper-input>
                        </div>
                    </paper-card>
                </div>
                <div class="layout vertical flex-7">
                    <paper-card heading="Description" class="cyan flex-2">
                        <div class="card-content">
                            <paper-textarea value="{{description}}" name="description" label="Description"></paper-textarea>
                        </div>
                    </paper-card>
                </div>
            </div>
            <div class$="{{getClasses(wide)}}">
                <div class="layout vertical flex-7">
                    <paper-card heading="Info" class="cyan fullbleed">
                        <div class="card-content">
                            <div class="layout horizontal">
                                <label>Energy (kcal)</label>
                                <paper-slider class="flex" value="{{kcal}}" name="kcal" snaps max="2500" max-markers="10" editable pin></paper-slider>
                            </div>
                            <br>
                            <div class="layout horizontal">
                                <label>Preparation time (h)</label>
                                <paper-slider class="flex" value="{{prep_time}}" name="prep_time" snaps max="12" max-markers="10" step="0.5" pin></paper-slider>
                            </div>
                            <paper-dropdown-menu name="difficulty" label="Difficulty">
                                <paper-listbox class="dropdown-content">
                                    <paper-item>Easy</paper-item>
                                    <paper-item>Medium</paper-item>
                                    <paper-item>Hard</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>
                        </div>
                    </paper-card>
                </div>
                <div class="layout vertical flex-4">
                    <paper-card heading="Ingredients" class="cyan">
                        <div class="card-content">
                            <div class="layout vertical">
                                <div class="flex">
                                    <template is="dom-repeat" items="{{ingredients}}">
                                        <div class="layout horizontal">
                                            <material-select dropdown-items="{{ingredientList}}" value="{{item}}" placeholder="Select ingredient"></material-select>
                                            <paper-input value="{{item.quantity}}" label="Amount"></paper-input>
                                        </div>
                                    </template>
                                </div>
                                <paper-button on-tap="addIngredient">Add new ingredient</paper-button>
                            </div>
                        </div>
                    </paper-card>
                </div>
                <div class="layout vertical flex-4">
                    <paper-card heading="Kitchen type" class="cyan">
                        <div class="card-content">
                            <div class="layout vertical">
                                <div class="flex">
                                    <template is="dom-repeat" items="{{kitchenTypes}}">
                                        <material-select dropdown-items="{{kitchenTypesList}}" value="{{item}}" placeholder="Select kitchen type"></material-select>
                                    </template>
                                </div>
                                <paper-button on-tap="addKitchenType">Add new kitchen type</paper-button>
                            </div>
                        </div>
                    </paper-card>
                </div>
            </div>
            <div class="layout vertical flex ">
                <paper-card heading="Photos" class="cyan flex-2">
                    <div class="card-content">
                        <recipe-photos upload-url="{{uploadUrl}}" photos="{{photos}}"></recipe-photos>
                    </div>
                </paper-card>
            </div>
            <div class$="{{getClasses(wide)}}">
                <div class="layout vertical flex">
                    <paper-card heading="Recipe steps" class="cyan">
                        <div class="card-content">
                            <div class="layout vertical">
                                <div>
                                    <template is="dom-repeat" items="{{recipeSteps}}">
                                        <div class="layout horizontal">
                                            <form-recipestep upload-url="{{uploadUrl}}" step="{{item}}"></form-recipestep>
                                        </div>
                                    </template>
                                </div>
                                <paper-button on-tap="addStep">Add new recipe step</paper-button>
                            </div>
                        </div>
                    </paper-card>
                    <paper-button raised on-tap="submitForm">Submit</paper-button>
                </div>
            </div>
        </form>
    </template>
    <script>
        Polymer({
            is: 'form-recipe',
            properties: {
                name:{
                    type:String,
                    value:"",
                    notify:true
                },
                description:{
                    type:String,
                    value:"",
                    notify:true
                },
                prep_time:{
                    type:String,
                    value:"",
                    notify:true
                },
                kcal:{
                    type:String,
                    value:"",
                    notify:true
                },
                difficulty:{
                    type:String,
                    value:"",
                    notify:true
                },
                ingredients: {
                    type: Array,
                    value: [],
                    notify: true
                },
                kitchenTypes: {
                    type: Array,
                    value: [],
                    notify: true
                },
                recipeSteps: {
                    type: Array,
                    value: [],
                    notify: true
                },
                photos:{
                    type: Array,
                    value: [],
                    notify: true
                },
                headers: {
                    type: Object,
                    computed: 'getHeaders(token)'
                },
                token: {
                    computed:'_getToken(user)'
                },
                ingredientList:{
                    type:Array,
                    value:[],
                    notify:true
                },
                difficultyList:{
                    type:Array,
                    value:[],
                    notify:true
                },
                kitchenTypesList:{
                    type:Array,
                    value:[],
                    notify:true
                },
                ingredientUrl:{
                    computed:'_urlIngredient(baseUrl)'
                },
                kitchenTypeUrl:{
                    computed:'_urlKitchenType(baseUrl)'
                },
                postUrl:{
                    computed:'_urlPost(baseUrl,blog)'
                },
                uploadUrl:{
                    computed:'_urlUpload(baseUrl)'
                }
            },
            getHeaders: function(token) {
                return {'Authorization': 'Bearer '+token}
            },
            _urlIngredient:function(baseUrl){
                return baseUrl + '/ingredient'
            },
            _urlKitchenType:function(baseUrl){
                return baseUrl + '/kitchen-type';
            },
            _urlPost:function(baseUrl,blog){
                return baseUrl + '/recipe'+blog
            },
            _urlUpload:function(baseUrl){
                return baseUrl + '/file/upload';
            },  
            _getToken:function(user){
                return user.token;
            },
            prepareBody: function(){
                var request = {};
                request.steps = this.recipeSteps;
                request.ingredients = this.ingredients;
                request.kitchen_types = this.kitchenTypes;
                request.photos = this.photos;
                return request;
            },
            addIngredient: function () {
                this.push('ingredients', {});
            },
            addKitchenType:function(){
                this.push('kitchenTypes', {});
            },
            addStep: function () {
                this.push('recipeSteps', {});
            },
            getClasses: function (wide) {
                var className = ''
                if (wide) {
                    className = 'layout horizontal';
                } else {
                    className = 'layout vertical';
                }
                return className;
            },
            submitForm:function(){
                this.$.recipeForm.submit();
            },
            handleResponse:function(){
               this.fire("newRecipe",{blog:this.blog});
            },
            handleError:function(){
                
            },
            _submit:function(event) {
                Polymer.dom(event).localTarget.parentElement.submit();
            },
            _presubmit: function(e) {
                var body = this.$.recipeForm.request.body;
                body['ingredients'] = this.ingredients;
                body['steps'] = this.recipeSteps;
                body['kitchen_types'] = this.kitchenTypes;
                body['photos'] = this.photos;
            },
        });
    </script>
</dom-module>