<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">
<dom-module id="form-blog">
    <template>
        <style include="shared-styles">
            paper-card {
                margin: 5px;
            }
        </style>
        <iron-ajax id="addBlogAjax" url="{{postUrl}}" method='POST' content-type="application/json" handle-as="json" last-response='{{response}}'
            headers='{{headers}}' loading='{{loading}}' on-response="handleResponse" on-error="handleError"></iron-ajax>
        <iron-media-query query="(min-width: 600px)" query-matches="{{wide}}"></iron-media-query>
        <div class="layout vertical">
            <template is="dom-if" if="{{wide}}">
                <div class="layout around-justified horizontal">
                    <paper-card heading="Name" class="cyan flex">
                        <div class="card-content">
                            <paper-input value="{{blogData.name}}" label="Name"></paper-input>
                        </div>
                    </paper-card>
                    <paper-card heading="Description" class="cyan flex-2">
                        <div class="card-content">
                            <paper-textarea value="{{blogData.description}}" label="Description"></paper-textarea>
                        </div>
                    </paper-card>
                </div>
            </template>
            <template is="dom-if" if="{{!wide}}">
                <paper-card heading="Name" class="cyan flex">
                    <div class="card-content">
                        <paper-input value="{{blogData.name}}" label="Name"></paper-input>
                    </div>
                </paper-card>
                <paper-card heading="Description" class="cyan flex-2">
                    <div class="card-content">
                        <paper-textarea value="{{blogData.description}}" label="Description"></paper-textarea>
                    </div>
                </paper-card>
            </template>
            <paper-button raised on-tap="submitForm">Submit</paper-button>
        </div>
    </template>
    <script>
        Polymer({
            is: 'form-blog',
           properties: {
                blogData:{
                    type:Object,
                    value:{},
                    observer:"_blogDataChanged"
                },
                user:{
                    type: Object
                },
                token: {
                    type: String,
                    value: null
                },
                postUrl: {
                    type: String,
                    value: '',
                    notify: true
                },
                headers: {
                    type: Object,
                    computed: 'getHeaders(token)'
                }
            },
            ready: function () {
                var path = "/blog";
                this.postUrl = this.baseUrl + path;
                this.token = this.user.token;
            },
            getHeaders: function(token) {
                return {'Authorization': 'Bearer '+token}
            },
            submitForm:function(){
                this.$.addBlogAjax.body = this.blogData;
                this.$.addBlogAjax.generateRequest();
            },
            handleError:function(e){

            },
            handleResponse:function(e){
                this.fire("newBlog");
            },
            _blogDataChanged:function(newValue,oldValue){
                var path = "/blog";
                if(newValue._id){
                    this.postUrl = path+="/"+this.blogData._id;
                    this.postUrl = this.baseUrl + path;  
                }
            }
        });
    </script>
</dom-module>