<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/file-upload/file-upload.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/iron-form-element-behavior/iron-form-element-behavior.html">
<dom-module id="form-recipestep">
    <template>
        <div class="layout horizontal">
            <div class="flex" style="text-align: center">
                <file-upload id="fileUploader" target="{{uploadUrl}}">Add photo</file-upload>
            </div>
            <div class="flex">
                <paper-input name="steps[name][]" bind-value="{{step.name}}" label="Name" required></paper-input>
                <paper-textarea  name="steps[description][]" bind-value="{{step.description}}" label="Description"></paper-textarea>
            </div>
        </div>
        <input is="iron-input" name="steps[photo][]" value="{{step.photo}}" hidden/>
    </template>
    <script>
        Polymer({
            is: 'form-recipestep',
            properties: {
                step: {
                    type: Object,
                    notify: true
                }
            },
            behaviors: [
                Polymer.IronFormElementBehavior
            ],
            listeners: {
                'success': 'handleSuccess'
            },
            handleSuccess: function (e) {
                var response = JSON.parse(e.detail.xhr.response);
                this.set("step.photo",response.file);
                if(this.$.fileUploader.files.length>1){
                    this.$.fileUploader.shift('files');
                }
            }
        });
    </script>
</dom-module>


