<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/iron-form-element-behavior/iron-form-element-behavior.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-behavior.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-error.html">
<link rel="import" href="custom-validator.html">
<dom-module id='input-password'>
    <template>
        <style>
             :host {
                display: block;
            }
            
             :host([hidden]) {
                display: none !important;
            }
        </style>
        <paper-input-container id="passwordContainer">
            <label>Password</label>
            <input is="iron-input" type="password" name="password" bind-value="{{passwordValue}}" id="passwordInput" />
            <template is="dom-if" if="[[errorMessage]]">
                <paper-input-error id="error">[[errorMessage]]</paper-input-error>
            </template>
        </paper-input-container>
        <paper-input-container id="repeatContainer" hidden$="{{!passwordRepeat}}">
            <label>Password repeat</label>
            <input is="iron-input" type="password" name="password-repeat" bind-value="{{passwordRepeatValue}}" id="passwordRepeatInput"
            />
            <template is="dom-if" if="[[errorMessage]]">
                <paper-input-error id="error">[[errorMessage]]</paper-input-error>
            </template>
        </paper-input-container>
    </template>
    <script>
    Polymer({

      is: 'input-password',

      behaviors: [
        Polymer.IronFormElementBehavior
      ],

       properties: {
            required: {
                type: Boolean,
                value: false
            },
            passwordRepeat: {
                type: Boolean,
                value: false,
                notify: true
            },
            passwordRegex: {
                type: String,
                value: null
            },
            passwordValue:{
                type: String,
                value:"",
                notify: true
            },
            passwordRepeatValue:{
                type: String,
                value:"",                
                notify: true
            }
        },
        validate: function () {
            var valid = this._validate_required() && this._password_equal() && this._password_regex();
            if(valid){
                this.$.passwordContainer.updateAddons({
                    invalid: !valid
                });
                this.$.repeatContainer.updateAddons({
                    invalid: !valid
                });
            }
            return valid;
        },
        _validate_required: function () {
            var valid = this.required && this.passwordValue.length != 0;
            if (!valid) {
                this.$.passwordContainer.updateAddons({
                    invalid: !valid
                });
            }
            return valid;
        },
        _password_regex: function () {
            var validateRegex = true;
            if (this.passwordRegex) {
                validateRegex = this.passwordRegex.test(this.passwordValue);
                if (this.passwordValue.length > 0 && !validateRegex) {
                    this.errorMessage = 'This is not valid password!';
                    this.$.passwordContainer.updateAddons({
                        invalid: !valid
                    });
                } else {
                    validateRegex = true;
                }
            }
            return validateRegex;
        },
        _password_equal: function () {
            var valid = true;
            if (this.passwordRepeat) {
                valid = this.passwordValue == this.passwordRepeatValue;
                if (!valid) {
                    this.errorMessage = 'Passwords have to be identical!';
                    this.$.passwordContainer.updateAddons({
                        invalid: !valid
                    });
                    this.$.repeatContainer.updateAddons({
                        invalid: !valid
                    });
                }
            }
            return valid;
        }
    });
</script>