<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-form-element-behavior/iron-form-element-behavior.html">
<dom-module id='input-email'>
    <template>
        <paper-input-container id="emailContainer">
            <label>Email</label>
            <input is="iron-input" type="email" name="email" bind-value="{{emailValue}}" id="emailInput" />
            <template is="dom-if" if="[[errorMessage]]">
                <paper-input-error id="error">[[errorMessage]]</paper-input-error>
            </template>
        </paper-input-container>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'input-email',
        behaviors: [
            Polymer.IronFormElementBehavior
        ],
        properties: {
            required: {
                type: Boolean,
                value: false
            }
        },
        validate: function () {
            var validateEmpty = true;

            if (this.required && this.emailValue.length == 0) {
                validateEmpty = false;
            }
            var validateRegex =
                    /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i.test(this.emailValue);
            if (!validateEmpty) {
                this.errorMessage = 'Email is required!';
            } else if (this.emailValue.length > 0 && !validateRegex) {
                this.errorMessage = 'This is not valid email!';
            } else {
                validateRegex = true;
            }
            var valid = validateEmpty && validateRegex;
            this.$.emailContainer.updateAddons({
                invalid: !valid
            });
            return valid;
        }
    });

</script>
