<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-search/paper-search-bar.html">
<link rel="import" href="../../bower_components/paper-search/paper-filter-dialog.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../shared-styles.html">
<dom-module id="list-search">
    <template>
        <style include="shared-styles">

        </style>
        <iron-ajax auto id="filtersAjax" method="get" url="{{url}}" content-type="application/json" handle-as="json" on-response="handleResponse"
            on-error="handleError">
        </iron-ajax>
        <paper-material hidden$="{{hideSearch}}">
            <paper-search-bar placeholder="Enter search term" query="{{search.query}}" on-paper-search-search="triggerSearch" on-paper-search-filter="filter">
            </paper-search-bar>
            <paper-filter-dialog id="dialog" filters="{{search.filters}}" selected-filters="{{search.selectedFilters}}"></paper-filter-dialog>
        </paper-material>
    </template>
    <script>
    Polymer({
        is: 'list-search',
        properties:{
            hideSearch:{
                type:Boolean,
                value:false
            },
            search:{
                type:Object,
                value:{},
                notify:true
            }
        },
        filter : function() {
            this.$.dialog.open();
        },
        handleError:function(event){

        },
        handleResponse:function(event){
            this.set("search.filters",event.detail.response);
        }
    });
    </script>
</dom-module>