<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-form-element-behavior/iron-form-element-behavior.html">

<dom-module id="material-select">
    <template>
        <paper-dropdown-menu id="dropdownMenu" allow-outside-scroll label="[[placeholder]]" selected-item-label="{{selectedValue}}">
            <div class="dropdown-content">
                <paper-input id="searchInput" no-label-float value="{{searchString::input}}" label="Search"></paper-input>
                <paper-menu id="selectMenu">
                    <template is="dom-repeat" items="{{dropdownItems}}" filter="{{dropdownFilter(searchString)}}">
                        <paper-item >{{item.name}}</paper-item>
                    </template>
                </paper-menu>
            </div>
        </paper-dropdown-menu>
    </template>
    <script>
        Polymer({
            is: 'material-select',
            behaviors: [
                Polymer.IronFormElementBehavior
            ],
            dropdownFilter: function(search){
                if(!search){
                    return null;
                }else{
                    search = search.toLowerCase();
                    var self = this;
                    return function(item){
                        return self.filterFunction(item,search);
                    }
                }
            },
            filterFunction: function(item,search){
                var filteredItem = item.name.toLowerCase();
                return (filteredItem.indexOf(search) != -1);
            },
            properties:{
                dropdownItems:{
                    type:Array,
                    value:[],
                    notify:true
                },
                placeholder:{
                    type:String,
                    notify:true,
                    value:''
                },
                searchString:{
                    type:String,
                    value:'',
                    notify:true,
                    observer:'_searchChanged'
                },
                value:{
                    type:Object,
                    notify:true
                },
                selectedValue:{
                    type:Object,
                    notify:true,
                    observer:'selectedValueChange'
                }
            },
            selectedValueChange:function(newValue){
                this.value = this.dropdownItems.find(function(x){return x.name === newValue});              
            },
            _searchChanged:function(oldValue,newValue){
                this.$.selectMenu.fire('iron-resize');
            }
        });
    </script>
</dom-module>