<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="recipe-item.html">
<dom-module id="recipe-list">
    <template>
        <style include="shared-styles">

        </style>
        <iron-ajax id="recipesAjax" method="get" url="{{url}}" content-type="application/json" handle-as="json" on-response="handleRecipesResponse"
            on-error="handleRecipesError" params="{{queryParams}}">
        </iron-ajax>
        <iron-media-query query="(min-width: 600px)" query-matches="{{wide}}"></iron-media-query>
        <iron-media-query query="(min-width: 900px)" query-matches="{{veryWide}}"></iron-media-query>
        <div class="layout vertical">
            <template is="dom-repeat" items="{{recipes}}">
                <recipe-item user="{{user}}" favourite-url="{{getFavouriteUrl(item)}}" photo-url="{{getPhotoUrl(item)}}" item-url="{{getRecipeUrl(item)}}"
                    item={{item}} wide={{wide}} very-wide={{veryWide}}></recipe-item>
            </template>
        </div>
    </template>
    <script>
            Polymer({
                is: 'recipe-list',
                properties: {
                    url: {
                        type: String,
                        notify:true
                    },
                    wide:{
                        type:Boolean,
                        notify:true
                    },
                    authorize:{
                        type:Boolean,
                        value:false
                    },
                    queryParams:{
                        type:Object,
                        value:{},
                        notify:true
                    }
                },
                getPhotoUrl:function(item){
                    if(item.photos!=null && item.photos.length>0){
                        return this.baseUrl +'/file/'+item.photos[0];
                    }else{
                        return null;
                    }
                },
                ready:function(){
                    console.log(this.user);
                },
                getRecipeUrl:function(item){
                    return '/recipe/'+item._id;
                },
                getFavouriteUrl:function(item){
                    return this.baseUrl+'/recipe/favourite/'+item._id;
                },
                getRecipes: function () {
                    if(this.authorize){
                        this.$.recipesAjax.headers = {'Authorization': 'Bearer '+this.user.token};
                    }
                    this.$.recipesAjax.generateRequest();
                },
                handleRecipesResponse: function (event) {
                    this.recipes = event.detail.response;
                },
                handleRecipesError: function (event) {
                    console.log(event);
                }
            });
    </script>
</dom-module>