<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="recipe-item">
    <template>
        <style include="shared-styles">
            paper-card {
                margin: 5px;
            }
            
            paper-card.card-horizontal {
                @apply(--layout-horizontal);
            }
            
            .rate-image {
                width: 100px;
                height: 170px;
                background: url('../../images/donuts.png');
                background-size: cover;
            }
            
            .rate-content {
                @apply(--layout-flex);
                float: left;
            }
            
            .rate-header {
                @apply(--paper-font-headline);
            }
            
            .rate-name {
                color: var(--paper-grey-600);
                margin: 10px 0;
            }
            
            .icon-gray {
                --iron-icon-fill-color: #666666;
            }
            .icon-red {
                --iron-icon-fill-color: #FF573D;
            }
            
            paper-icon-button.rate-icon {
                --iron-icon-fill-color: white;
                --iron-icon-stroke-color: var(--paper-grey-600);
            }
        </style>
        <iron-ajax id="favouriteAjax" method="GET" url="{{favouriteUrl}}" content-type="application/json" handle-as="json" on-response="handleFavouriteResponse"
            on-error="handleRecipesError"></iron-ajax>
        <paper-card class="layout horizontal">
            <div class="rate-content">
                <div class$="{{getClasses(wide)}}">
                    <div class="flex-4">
                        <a name="recipe" href="{{itemUrl}}">
                            <iron-image src="{{photoUrl}}" preload fade style="width:100%; height:100%; min-height:200px; background-color: lightgray;"
                                sizing="cover">
                            </iron-image>
                        </a>
                    </div>
                    <div class="flex-4">
                        <div class="card-content">
                            <div class$="{{getClasses(wide)}}">
                                <div>
                                    <div class="rate-header">
                                        <div style="line-height:50px;min-height: 50px">
                                            {{item.name}}
                                            <template is="dom-if" if="{{!wide}}">
                                                <paper-icon-button icon="hardware:keyboard-arrow-up" title="More" on-tap="_toggle" style="float:right;">
                                                </paper-icon-button>
                                            </template>
                                        </div>
                                    </div>
                                    <iron-collapse id="more" style="width:100%;" hidden$="{{wide}}">
                                        {{item.description}}
                                    </iron-collapse>
                                    <template is="dom-if" if="{{wide}}">
                                        {{item.description}}
                                    </template>
                                </div>
                                <template is="dom-if" if="{{veryWide}}">
                                    <div >
                                        <div class="rate-header" style="line-height:50px;min-height: 50px">
                                            Info
                                        </div>
                                        <p><strong>Kcal: </strong>{{item.kcal}}</p>
                                        <p><strong>Difficulty: </strong>{{item.difficulty}}</p>
                                        <p><strong>Preparation time: </strong>{{item.prep_time}}h</p>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1" style="text-align:center">
                        <paper-button title="Add to favourite" on-tap="addToFavourite">
                            <iron-icon id="favIcon" icon="favorite">
                            </iron-icon>
                            <template is="dom-if" if="{{!wide}}">
                                Add to favourite
                            </template>
                        </paper-button>
                    </div>
                </div>
            </div>
        </paper-card>
    </template>
    <script>
        Polymer({
            is: 'recipe-item',
            properties: {
                name: {
                    type: String,
                    value: ''
                }
            },
            _toggle: function () {
                var moreInfo = this.$.more;
                var iconButton = Polymer.dom(event).localTarget;
                iconButton.icon = moreInfo.opened ? 'hardware:keyboard-arrow-up'
                        : 'hardware:keyboard-arrow-down';
                moreInfo.toggle();
            },
            ready:function(){
                this.getFavClass();
            },
            getFavClass:function(){
                if(this.user.favourite_recipes.includes(this.item._id)){
                    this.activateFav();
                }else{
                    this.deactivateFav();
                }
            },
            activateFav:function(){
                this.$.favIcon.customStyle['--iron-icon-fill-color'] = '#FF573D';
                this.$.favIcon.updateStyles();
            },
            deactivateFav:function(){
                this.$.favIcon.customStyle['--iron-icon-fill-color'] = '#666666';
                this.$.favIcon.updateStyles();
            },
            getClasses: function (wide) {
                var className = ''
                if (wide) {
                    className = 'layout horizontal';
                } else {
                    className = 'layout vertical';
                }
                return className;
            },
            addToFavourite:function(){
                this.$.favouriteAjax.headers = {'Authorization': 'Bearer '+this.user.token};
                this.$.favouriteAjax.generateRequest();
            },
            handleFavouriteResponse:function(event){
                var response = event.detail.response;
                if(response.added){
                    this.push("user.favourite_recipes",response.added);
                    this.activateFav();
                }else{
                     this.deactivateFav();
                }
            }
        });
    </script>
</dom-module>