<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/file-upload/file-upload.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">

<dom-module id="recipe-photos">
    <template>
        <file-upload id="fileUploader" target="{{uploadUrl}}">Add photo</file-upload>
    </template>
    <script>
        Polymer({
            is: 'recipe-photos',
            properties: {
                photos: {
                    type: Array,
                    notify: true
                }
            },
            listeners: {
                'success': 'handleSuccess'
            },
            handleSuccess: function (e) {
                var response = JSON.parse(e.detail.xhr.response);
                this.push('photos', response.file);
            }
        });
    </script>
</dom-module>