<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">


<dom-module id="recipe-step">
    <template>
        <style include="shared-styles">
            paper-card {
                margin: 5px;
            }

            paper-card.card-horizontal {
                @apply(--layout-horizontal);
            }

            .rate-image {
                width: 100px;
                height: 170px;
                background: url('../../images/donuts.png');
                background-size: cover;
            }

            .rate-content {
                @apply(--layout-flex);
                float: left;
            }

            .rate-header {
                @apply(--paper-font-headline);
            }

            .rate-name {
                color: var(--paper-grey-600);
                margin: 10px 0;
            }

            .icon-gray {
                --iron-icon-fill-color: #666666;
            }

            paper-icon-button.rate-icon {
                --iron-icon-fill-color: white;
                --iron-icon-stroke-color: var(--paper-grey-600);
            }
        </style>
        <paper-card class="layout horizontal">
            <div class="rate-content">
                <div class$="{{getClasses(wide)}}">
                    <div class="flex-4">
                        <iron-image
                                src="{{photoUrl}}"
                                preload fade
                                style="width:100%; height:100%; min-height:200px; background-color: lightgray;"
                                sizing="cover"></iron-image>
                    </div>
                    <div class="flex-4">
                        <div class="card-content">
                            <div class$="{{getClasses(wide)}}">
                                <div>
                                    <div class="rate-header">
                                        <div style="line-height:50px;min-height: 50px">
                                            {{item.name}}
                                            <template is="dom-if" if="{{!wide}}">
                                                <paper-icon-button icon="hardware:keyboard-arrow-up"
                                                                   title="More"
                                                                   on-tap="_toggle"
                                                                   style="float:right;">
                                                </paper-icon-button>
                                            </template>
                                        </div>
                                    </div>
                                    <iron-collapse id="more" style="width:100%;" hidden$="{{wide}}">
                                        {{item.description}}
                                    </iron-collapse>
                                    <template is="dom-if" if="{{wide}}">
                                        {{item.description}}
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </paper-card>
    </template>
    <script>
        Polymer({
            is: 'recipe-step',
            getClasses: function (wide) {
                var className = ''
                if (wide) {
                    className = 'layout horizontal';
                } else {
                    className = 'layout vertical';
                }
                return className;
            },
            _toggle: function () {
                var moreInfo = this.$.more;
                var iconButton = Polymer.dom(event).localTarget;
                iconButton.icon = moreInfo.opened ? 'hardware:keyboard-arrow-up'
                        : 'hardware:keyboard-arrow-down';
                moreInfo.toggle();
            },
        });
    </script>

</dom-module>




