<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../shared-styles.html">
<dom-module id="user-blogmenu">
    <template>
        <style include="shared-styles">
            a {
                display: block;
                text-decoration: none;
                color: black;
                line-height: 40px;
            }
        </style>
        <iron-ajax id="listBlogsAjax" url="{{getUrl}}" method='GET' content-type="application/json" handle-as="json" on-response="handleResponse"
            loading='{{loading}}'></iron-ajax>
        <template is="dom-if" if="{{header}}">
            <paper-item disabled style="background-color:#c4c4c4;color:black">
                Your blogs
            </paper-item>
        </template>
        <template is="dom-repeat" items="{{blogs}}">
            <a name="blog" href="{{computeLink(item)}}">
                <paper-item>
                    {{item.name}}
                </paper-item>
            </a>
        </template>
    </template>
    <script>
    Polymer({
        is: 'user-blogmenu',
        properties:{
            getUrl: {
                type: String,
                value: '',
                notify: true
            },
            user:{
                type:Object,
                notify:true
            },
            blogs:{
                type:Array,
                value:[],
                notify:true
            },
            header:{
                type:Boolean,
                value:false
            },
            link:{
                type:String,
                value:null
            }
        },
        ready: function(){
            this.getUrl = this.baseUrl + '/blog/user/' + this.user.id;
            this.getBlogs();
        },
        getBlogs:function(){
            this.$.listBlogsAjax.generateRequest();
        },
        computeLink: function(blog){
            return "/"+this.link+"/" + blog._id;
        },
        handleResponse:function(event){
            var response = event.detail.response;
            this.blogs = response
        }
    });
    </script>
</dom-module>