<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="components/input-password.html">
<link rel="import" href="components/input-email.html">
<dom-module id="app-signup">
    <template>
        <style include="shared-styles">

        </style>
        <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
        <app-location route="{{route}}"></app-location>
        <paper-toast id="toast2" class="fit-bottom" text=""></paper-toast>
        <form is="iron-form" method="post" action="[[url]]" id="signupForm">
            <paper-input-container>
                <label>Username</label>
                <input is="iron-input" type="text" name="username" required>
            </paper-input-container>
            <input-email required="true"></input-email>
            <input-password password-repeat required></input-password>
            <paper-button raised class="primary" on-tap="_submit">Sign up</paper-button>
            <paper-button class="link" on-tap="showMenu">Cancel</paper-button>
            <button hidden type="submit"></button>
        </form>
    </template>
    <script>
    Polymer({
        is: 'app-signup',
        properties: {
            showLogin: {
                type: Boolean,
                value: false
            },
            formData: {
                type: Object,
                value: {}
            },
            url:{
                computed: 'computeUrl(baseUrl)'
            },
            storedUser: Object,
            error: String
        },
        listeners:{
            "iron-form-presubmit":"_beforeSubmit",
            "iron-form-response":"handleUserResponse",
            "iron-form-error":"handleUserError"
        },
        computeUrl: function(baseUrl){
            return baseUrl+'/user';
        },
        _beforeSubmit:function(e){
            this.$.signupForm.validate();
        },
        handleUserResponse: function(event) {
            var response = event.detail.response;

            if (response.token) {
                this.error = '';
                this.storedUser = {
                    name: this.formData.username,
                    id : response.id,
                    token: response.token,
                    favourite_recipes: response.favourite_recipes,
                    subscriptions: response.subscriptions,
                    blogs: response.blogs,
                    loggedin: true
                };
                this.set('route.path', '/home');
            }
            this.resetFormData();
        },
        resetFormData: function() {
            this.formData = {};
        },
        handleUserError: function(event) {
            var status = event.detail.request.xhr.status;
            var error = event.detail.request.xhr.response.error;
            var errors = error.errors;
            if (status == 401) {
                this.$.input_password.triggerNotAuthorized(error);
            } else if (status == 400) {
                var message ="";
                if(errors!=null){
                    if(errors.username!=null){
                        message = errors.username.message;
                    }else if(errors.email!=null){
                        message = errors.email.message;
                    }
                }
                this.$.toast2.text = message;
            } else {
                this.$.toast2.text = "We couldn\'t process Your request, please try again later.";
            }
            this.$.toast2.open();
        },
        toggleView: function() {
            this.showLogin = !this.showLogin;
            this.resetFormData();
            this.error = null;
            return this.showLogin;
        },
        showMenu:function(){
            this.fire('show-menu');
        },
        _submit:function(event) {
            Polymer.dom(event).localTarget.parentElement.submit();
        }
    });
    </script>
</dom-module>