<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-location/iron-location.html">
<link rel="import" href="shared-styles.html">
<dom-module id="app-settings">
    <template>
        <style include="shared-styles">

        </style>
        <iron-location id="ironLocation"></iron-location>
        <div class="layout vertical align-center">
            <div style="text-align: center">
                <p>Profile</p>
            </div>
            <paper-button raised on-tap="goKitchenTypes">Kitchen types</paper-button>
            <br>
            <div style="text-align: center">
                <p>Blogs</p>
            </div>
            <user-blogmenu id="blogMenu" link="blogform" user="{{user}}"></user-blogmenu>
        </div>
    </template>
    <script>
        Polymer({
            is: 'app-settings',
            ready:function(){
                console.log(this.user);
            },
            goKitchenTypes:function(){
                this.$.ironLocation.set('path', '/kitchentypes');
            }
        });
    </script>
</dom-module>