<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">
<dom-module id="app-kitchentypes">
    <template>
        <style include="shared-styles">
            paper-button[toggles][active] {
                background: #FF573D;
            }
        </style>
        <iron-ajax id="kitchenAjax" method="get" content-type="application/json" handle-as="json" on-response="handleResponse" on-error="handleError"
            params="{{queryParams}}">
        </iron-ajax>
        <iron-ajax id="sendAjax" method="post" content-type="application/json" handle-as="json" on-response="handleResponse" on-error="handleError"
            params="{{queryParams}}">
        </iron-ajax>
        <template is="dom-repeat" items="{{kitchenTypes}}">
            <paper-button toggles active$="{{item.added}}" on-tap="toggleAdded">{{item.kitchen_type.name}}</paper-button>
        </template>
        <div class="flex">
            <paper-button raised on-tap="saveSettings">Save</paper-button>
        </div>
    </template>
    <script>
    Polymer({
        is: 'app-kitchentypes',
        properties:{
            kitchenTypes:{
                type:Array,
                value:[],
                notify:true
            },
            user:{
                type:Object,
                value:{},
                notify:true
            }
        },
        attached:function(){
            this.prepareKitchenAjax();
        },
        prepareKitchenAjax:function(){
            this.$.kitchenAjax.url = this.baseUrl + "/kitchen-type/user";
            this.$.kitchenAjax.headers = {'Authorization': 'Bearer '+this.user.token};
            this.$.kitchenAjax.generateRequest();
        },
        prepareSendAjax:function(){
            this.$.sendAjax.url = this.baseUrl + "/user/kitchen-type";
            this.$.sendAjax.headers = {'Authorization': 'Bearer '+this.user.token};
            var newTypes = this.kitchenTypes.filter(function (el) {
                return el.added == true;
            }).map(function(el){
                return el.kitchen_type._id;
            });
            this.$.sendAjax.body = {kitchen_types:newTypes};
            this.$.sendAjax.generateRequest();
        },
        handleError:function(event){
            console.log(event);
        },
        handleResponse:function(event){
            this.kitchenTypes = event.detail.response;
        },
        toggleAdded: function(e){
            e.model.item.added = !e.model.item.added;
        },
        saveSettings:function(){
            this.prepareSendAjax();
            console.log(this.kitchenTypes);
        }
    });
    </script>
</dom-module>