<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="components/form-blog.html">

<dom-module id="app-blogform">
    <template>
        <iron-ajax id="blogAjax" method="get" content-type="application/json" handle-as="json" on-response="handleResponse"
            on-error="handleError"></iron-ajax>
        <form-blog user="{{user}}"  blog-data="{{blogData}}"></form-blog>
    </template>
    <script>
        Polymer({
            is: 'app-blogform',
            properties:{
                user:{
                    type: Object,
                    notify: true
                },
                blogData:{
                    type:Object,
                    value:{},
                    notify:true
                }
            },
            attached:function(){
                if(this.routeData.path!=""){
                    this.getBlog()
                }
            },
            getBlog:function(){
                this.$.blogAjax.url = this.baseUrl+"/blog"+this.routeData.path;
                this.$.blogAjax.generateRequest();
            },
            handleError:function(e){
                
            },
            handleResponse:function(e){
                this.blogData = e.detail.response;
            }
        });
    </script>

</dom-module>
