<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="components/recipe-list.html">
<link rel="import" href="components/blog-menu.html">
<link rel="import" href="components/list-search.html">
<dom-module id="app-blog">
    <template>
        <iron-ajax id="blogAjax" method="GET" url="{{url}}" content-type="application/json" handle-as="json" on-response="handleResponse"
            on-error="handleError"></iron-ajax>
        <list-search url="{{filtersUrl}}" search="{{search}}"></list-search>
        <template is="dom-if" if="{{userSubscribed}}">
            <paper-button on-tap="subscribe" raised>Unsubscribe</paper-button>
        </template>
        <template is="dom-if" if="{{!userSubscribed}}">
            <paper-button on-tap="subscribe"raised>Subscribe</paper-button>
        </template>
        <recipe-list id="recipeList" user="{{user}}" route-data="{{routeData}}" url={{getUrl}}></recipe-list>
        <blog-menu show-blog show-recipe route-data={{routeData}}></blog-menu>
    </template>
    <script>
    Polymer({
        is: 'app-blog',
        properties:{
            getUrl:{
                type:String,
                notify:true
            },
            routeData:{
                type:Object,
                observer:"_routeChanged"
            },
            search:{
                    type:Object,
                    notify:true
            },
            params:{
                type:Object,
                value:{},
                notify:true
            },

            userSubscribed:{
                type:Boolean,
                value: false,
                notify:true
            },
            url:{
                computed: "_subscribeUrl(baseUrl,userSubscribed)"
            }
        },
        observers: [
            '_changedFilters(search.*)'
        ],
        _changedFilters:function(newValue){
            if(this.search.query!=null){
                this.params.name = this.search.query;
            }else{
                this.params.name = "";
            }
            if(this.search.selectedFilters!= null){
                for (var key in this.search.selectedFilters) {
                    if (this.search.selectedFilters.hasOwnProperty(key)) {
                        this.params[key+"[]"] = this.search.selectedFilters[key];
                    }
                }
            }
            this.refresh();
        },
        _subscribeUrl: function(baseUrl,subscribed){
            if(subscribed){
                return baseUrl+'/blog/unsubscribe'+this.routeData.path;
            }else{
                return baseUrl+'/blog/subscribe'+this.routeData.path;
            }
            
        },
        _hasSubscribed:function(){
            if(this.user!=null && this.user!={}){
                console.log(this.user.subscriptions);
                
                return this.user.subscriptions.includes(this.routeData.path.substring(1,this.routeData.path.length));
            }
            return {};
        },
        _routeChanged:function(newVal, oldVal){
            if(newVal.prefix=="/blog"){
                 this.refresh();
            }
        },
        refresh:function(){
            this.getUrl = this.baseUrl+"/recipe/blog"+this.routeData.path;
            this.filtersUrl = this.baseUrl + "/filter";
            this.$.recipeList.getRecipes();            
        },
        attached:function(){
            this.refresh();
            this.userSubscribed = this._hasSubscribed();
        },
        listeners:{
            "refreshPage":"refresh"
        },
        subscribe:function(){
            if(this.userSubscribed){
                this.$.blogAjax.url =  this.baseUrl+'/blog/unsubscribe'+this.routeData.path;
            }else{
                this.$.blogAjax.url = this.baseUrl+'/blog/subscribe'+this.routeData.path;
            }
            this.$.blogAjax.headers = {'Authorization': 'Bearer '+this.user.token};
            this.$.blogAjax.generateRequest();
        },
        activateSub:function(){
            this.userSubscribed = true;
            console.log(this.userSubscribed);
        },
        deactivateSub:function(){
            this.userSubscribed = false;
            console.log(this.userSubscribed);            
        },
        handleResponse:function(event){
            var response = event.detail.response;
                if(response.added){
                    this.push("user.subscriptions",response.added);
                    this.activateSub();
                }else{
                     this.splice("user.subscriptions",this.user.subscriptions.indexOf(response.removed));
                     this.deactivateSub();
                }
        }
    });
    </script>
</dom-module>