<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="components/recipe-list.html">
<link rel="import" href="components/list-search.html">
<link rel="import" href="components/blog-menu.html">

<dom-module id="app-subscriptions">
    <template>
        <list-search url="{{filtersUrl}}" search="{{search}}"></list-search>
        <recipe-list id="recipeList" user="{{user}}" authorize route-data="{{routeData}}" url={{getUrl}}></recipe-list>
    </template>
    <script>
    Polymer({
        is: 'app-subscriptions',
        properties:{
            getUrl:{
                type:String,
                notify:true
            },
            search:{
                type:Object,
                notify:true
            },
            params:{
                type:Object,
                value:{},
                notify:true
            }
        },
        observers: [
            '_changedFilters(search.*)'
        ],
        _changedFilters:function(newValue){
            if(this.search.query!=null){
                this.params.name = this.search.query;
            }else{
                this.params.name = "";
            }
            if(this.search.selectedFilters!= null){
                for (var key in this.search.selectedFilters) {
                    if (this.search.selectedFilters.hasOwnProperty(key)) {
                        this.params[key+"[]"] = this.search.selectedFilters[key];
                    }
                }
            }
            this._getRecipes();
        },
        setUrl:function(){
            this.filtersUrl = this.baseUrl + "/filter";
            this.getUrl = this.baseUrl+"/recipe/subscriptions";
        },
        attached:function(){
            this._getRecipes();
            console.log("llaalal");
        },
        listeners:{
            "refreshPage":"_getRecipes"
        },
        _getRecipes:function(){
            this.setUrl();
            this.$.recipeList.getRecipes();
        }
    });
    </script>
</dom-module>