<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-fab-menu/paper-fab-menu.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="components/user-blogmenu.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<dom-module id="app-logged">
    <template>
        <style include="shared-styles">
            paper-scroll-header-panel {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: var(--paper-grey-200, #eee);
                /* background for toolbar when it is at its full size */
                ;
                /* background for toolbar when it is condensed */
                --paper-scroll-header-panel-condensed-header: {
                    background-color: var(--primary-color);
                }
                ;
            }
            
            paper-toolbar.tall {
                /* custom toolbar height */
                height: 256px;
                background-color: transparent;
            }
            
            paper-toolbar.tall #title {
                font-size: 40px;
                margin-left: 60px;
                -webkit-transform-origin: left center;
                transform-origin: left center;
            }
            
            paper-icon-button {
                --paper-icon-button-ink-color: white;
            }
            
            .content {
                padding: 8px;
            }
            
            .spacer {
                @apply(--layout-flex);
            }
        </style>
        <app-location route="{{route}}"></app-location>
        <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}">
        </app-route>
        <app-route route="{{subroute}}" pattern="/:recipeId" data="{{subrouteData}}">
        </app-route>
        <div class="fullbleed vertical layout">q
            <iron-selector selected="[[routeData.page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                <paper-drawer-panel class="flex">
                    <paper-scroll-header-panel drawer>
                        <paper-toolbar>
                            <div>Cooking blog</div>
                        </paper-toolbar>
                        <a name="home" href="/home">
                            <paper-item>
                                Home
                            </paper-item>
                        </a>
                        <a name="discover" href="/discover">
                            <paper-item>
                                Discover
                            </paper-item>
                        </a>
                        <a name="favourite" href="/favourite">
                            <paper-item>
                                Favourite
                            </paper-item>
                        </a>
                        <a name="subscriptions" href="/subscriptions">
                            <paper-item>
                                Subscriptions
                            </paper-item>
                        </a>
                        <user-blogmenu id="blogMenu" header link="blog" user="{{storedUser}}"></user-blogmenu>
                    </paper-scroll-header-panel>
                    <paper-scroll-header-panel id="paperScroll" condenses header-height="256" condensed-header-height="64" main>
                        <paper-toolbar class$="{{toolbarClass}}" middle-justify="center">
                            <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                            <span class="title">{{selectedPage.title}}</span>
                            <paper-menu-button horizontal-align="right" horizontal-offset="20">
                                <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
                                <paper-menu style="color:black" class="dropdown-content">
                                    <paper-item on-tap="logout">Logout</paper-item>
                                    <a href="/settings" name="settings">
                                        <paper-item>Settings</paper-item>
                                    </a>
                                </paper-menu>
                            </paper-menu-button>
                            <!--<paper-icon-button class="" icon="more-vert"></paper-icon-button>-->
                            <!--<paper-progress class="middle fit" value="60"></paper-progress>-->
                        </paper-toolbar>
                        <div id="app-container">
                            <iron-pages selected="[[page]]" selected-item="{{selectedPage}}" attr-for-selected="name" fallback-selection="404" role="main">
                                <app-home base-url="{{apiUrl}}" user={{storedUser}} title="Home" name="home" search={{searchObject}}></app-home>
                                <app-discover base-url="{{apiUrl}}" user={{storedUser}} title="Discover" name="discover" search={{searchObject}}></app-discover>
                                <app-favourite base-url="{{apiUrl}}" user={{storedUser}} title="Favourites" name="favourite" search={{searchObject}}></app-favourite>
                                <app-subscriptions base-url="{{apiUrl}}" user={{storedUser}} title="Subscriptions" name="subscriptions" search={{searchObject}}></app-subscriptions>
                                <app-blog base-url="{{apiUrl}}" user={{storedUser}} name="blog" route-data="{{subroute}}"></app-blog>
                                <app-settings base-url="{{apiUrl}}" user={{storedUser}} name="settings" route-data="{{subroute}}"></app-settings>
                                <app-newrecipe base-url="{{apiUrl}}" user={{storedUser}} title="New recipe" name="newrecipe" route-data="{{subroute}}"></app-newrecipe>
                                <app-blogform base-url="{{apiUrl}}" user={{storedUser}} title="Add blog" name="blogform" route-data="{{subroute}}"></app-blogform>
                                <app-recipe base-url="{{apiUrl}}" user={{storedUser}} route-data="{{subroute}}" title="Recipe" name="recipe"></app-recipe>
                                <app-kitchentypes base-url="{{apiUrl}}" user={{storedUser}} route-data="{{subroute}}" title="Kitchen types" name="kitchentypes"></app-kitchentypes>
                                <app-404 name="404"></app-404>
                            </iron-pages>
                        </div>
                    </paper-scroll-header-panel>
                </paper-drawer-panel>
            </iron-selector>
        </div>
    </template>
    <script>
        Polymer({
            is: 'app-logged',
            properties: {
                page: {
                    type: String,
                    reflectToAttribute: true,
                    observer: '_pageChanged'
                },
                storedUser: {
                    type: Object,
                    notify: true
                },
                recipeId: {
                    type: String,
                    reflectToAttribute: true
                },
                toolbarClass: {
                    type: String,
                    notify: true,
                    value: 'toolbar'
                },
                image: {
                    type: String,
                    value: "../images/bg4.jpg"
                },
                scrolling: {
                    type: Boolean,
                    value: false,
                    notify: true
                },
                hideSearch: {
                    type: Boolean,
                    value: true,
                    notify: true
                }
            },
            _pageChanged: function (page) {
                // Load page import on demand. Show 404 page if fails
                var resolvedPageUrl = this.resolveUrl('app-' + page + '.html');
                this.importHref(resolvedPageUrl, null, this._showPage404, true);
            },
            pageScrolled: function (e) {
                this.scrolling = true;
            },
            getClasses: function (recipeId) {
                var className = 'toolbar tall'
                return className;
            },
            observers: [
                '_routePageChanged(routeData.page)'
            ],
            ready: function () {
                var self = this;
                setInterval(function () {
                    self.scrolling = false;
                }, 700);
            },
            listeners: {
                "updateToolbarImage": "changeToolbarImage",
                "newBlog": "updateBlogs",
                "newRecipe": "updateRecipes"
            },
            updateBlogs: function () {
                this.$.blogMenu.getBlogs();
                this.set('route.path', '/home');
            },
            updateRecipes: function (params) {
                this.set('route.path', '/blog' + params.detail.blog);
            },
            changeToolbarImage: function (event) {
                var url = this.baseUrl + "/file/" + event.detail.photo;
                this.$.paperScroll.customStyle['--paper-scroll-header-panel-full-header'] =
                    `background-image: url("${url}")`;
                this.$.paperScroll.updateStyles();
                this.$.paperScroll.measureHeaderHeight();
            },
            logout: function () {
                this.storedUser = null;
            },
            toggleSearch: function () {
                console.log(this.selectedPage);
            },
            _routePageChanged: function (page) {
                if (page == 'recipe') {
                    this.toolbarClass = 'toolbar tall';
                } else {
                    this.toolbarClass = 'toolbar';
                }
                this.searchObject = {};
                this.hideSearch = true;
                this.page = page || 'home';
            },
            _showPage404: function () {
                this.page = '404';
            }
        });
    </script>
</dom-module>