<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-location/iron-location.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="components/recipe-list.html">
<link rel="import" href="components/list-search.html">
<link rel="import" href="components/blog-menu.html">

<dom-module id="app-discover">
    <template>
        <iron-ajax auto id="favAjax" method="get" url="{{url}}" content-type="application/json" handle-as="json" on-response="handleResponse"
            on-error="handleError">
        </iron-ajax>
        <iron-location id="ironLocation"></iron-location>
        <div hidden$="{{userHasKitchenTypes}}">
            <paper-button on-tap="goAddKitchenTypes">Add kitchen types</paper-button>
        </div>
        <div hidden$="{{!userHasKitchenTypes}}">
            <list-search url="{{filtersUrl}}" search="{{search}}"></list-search>
            <recipe-list id="recipeList" user="{{user}}" route-data="{{routeData}}" url={{getUrl}} authorize></recipe-list>
        </div>
        <blog-menu show-blog route-data={{routeData}}></blog-menu>
    </template>
    <script>
        Polymer({
            is: 'app-discover',
            properties:{
                getUrl:{
                    type:String,
                    notify:true
                },
                search:{
                    type:Object,
                    notify:true
                },
                params:{
                    type:Object,
                    value:{},
                    notify:true
                },
                userHasKitchenTypes:{
                    type:Boolean,
                    value:false,
                    notify:true
                }
            },
            observers: [
                '_changedFilters(search.*)'
            ],
            _changedFilters:function(newValue){
                
                    if(this.search.query!=null){
                        this.params.name = this.search.query;
                    }else{
                        this.params.name = "";
                    }
                    if(this.search.selectedFilters!= null){
                        for (var key in this.search.selectedFilters) {
                            if (this.search.selectedFilters.hasOwnProperty(key)) {
                                this.params[key+"[]"] = this.search.selectedFilters[key];
                            }
                        }
                    }
                    this._getRecipes();
                
            },
            setUrl:function(){
                this.filtersUrl = this.baseUrl + "/filter";
                this.getUrl = this.baseUrl+"/recipe/discover";
            },
            attached:function(){
                this._getRecipes();
                this.prepareAjax();
            },
            listeners:{
                "refreshPage":"_getRecipes"
            },
            _getRecipes:function(){
                if(this.userHasKitchenTypes){                
                    this.setUrl();
                    this.$.recipeList.getRecipes();
                }
            },
            prepareAjax:function(){
                this.$.favAjax.url = this.baseUrl + "/user/kitchen-type";
                this.$.favAjax.headers = {'Authorization': 'Bearer '+this.user.token};
                this.$.favAjax.generateRequest();
            },
            handleError:function(event){

            },
            handleResponse:function(event){
                if(event.detail.response.length > 0){
                    this.userHasKitchenTypes = true;
                    this._getRecipes();
                }
            },
            goAddKitchenTypes:function(){
                this.$.ironLocation.set('path', '/kitchentypes');
            }
        });
    </script>
</dom-module>