<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../bower_components/paper-fab-transitions/paper-fab-morph.html">
<link rel="import" href="../bower_components/iron-location/iron-location.html">
<link rel="import" href="components/recipe-step.html">
<dom-module id="app-recipe">
    <template>
        <style include="shared-styles">
            paper-card {
                margin: 5px;
            }
            
            paper-card.card-horizontal {
                @apply(--layout-horizontal);
            }
            
            .rate-image {
                width: 100px;
                height: 170px;
                background: url('../../images/donuts.png');
                background-size: cover;
            }
            
            .rate-content {
                @apply(--layout-flex);
                @apply(--layout-vertical);
                float: left;
            }
            
            .rate-header {
                @apply(--paper-font-headline);
            }
            
            .rate-name {
                color: var(--paper-grey-600);
                margin: 10px 0;
            }
            
            .icon-gray {
                --iron-icon-fill-color: #666666;
            }
            
            paper-icon-button.rate-icon {
                --iron-icon-fill-color: white;
                --iron-icon-stroke-color: var(--paper-grey-600);
            }
        </style>
        <iron-location id="ironLocation"></iron-location>
        <iron-ajax id="getRecipeAjax" method='GET' content-type="application/json" handle-as="json" loading='{{loading}}'
         on-response="handleRecipesResponse" on-error="handleRecipesError">
        </iron-ajax>
        <iron-media-query query="(min-width: 600px)" query-matches="{{wide}}"></iron-media-query>
        <iron-media-query query="(min-width: 900px)" query-matches="{{veryWide}}"></iron-media-query>
        <div class$="{{getClasses(wide)}}">
            <paper-button raised>Add to favourites</paper-button>
            <paper-button raised on-tap="goBlog">Go to blog</paper-button>
        </div>
        <div class$="{{getClasses(wide)}}">
            <div class="layout vertical flex-3">
                <paper-card heading="Description">
                    <div class="card-content">
                        {{recipe.description}}
                    </div>
                </paper-card>
            </div>
            <div class="layout vertical flex-2 ">
                <paper-card heading="Info">
                    <div class="card-content">
                        <p><strong>Kcal: </strong>{{recipe.kcal}}</p>
                        <p><strong>Difficulty: </strong>{{recipe.difficulty}}</p>
                        <p><strong>Preparation time: </strong>{{recipe.prep_time}}</p>
                    </div>
                </paper-card>
            </div>
        </div>
        <div class="layout vertical flex-2 ">
                <paper-card heading="Ingredients">
                    <div class="card-content">
                        <template is="dom-repeat" items={{recipe.ingredients}}>
                            <p>
                                <strong>{{item.ingredient.name}}</strong> {{item.quantity}}
                            </p>
                        </template>
                    </div>
                </paper-card>
        </div>
        <br>
        <div class="layout vertical">
            <paper-material elevation="1" style="background: #eeeeee">
                <div style="text-align: center">
                    <p>Recipe steps</p>
                </div>
                <div class="rate-content" style="width:100%">
                    <template is="dom-repeat" items="{{recipe.steps}}">
                        <recipe-step photo-url="{{getStepUrl(item)}}" item="{{item}}" wide="{{wide}}" very-wide="{{veryWide}}"></recipe-step>
                    </template>
                </div>
            </paper-material>
        </div>
    </template>
    <script>
        Polymer({
            is: 'app-recipe',
            properties: {
                wide: {
                    type: Boolean,
                    notify: true
                },
                recipe:{
                    type: Object,
                    notify: true,
                    value : {}
                }
            },
            getClasses: function (wide) {
                var className = ''
                if (wide) {
                    className = 'layout horizontal';
                } else {
                    className = 'layout vertical';
                }
                return className + ' wrap';
            },
            _toggle: function () {
                var moreInfo = this.$.more;
                var iconButton = Polymer.dom(event).localTarget;
                iconButton.icon = moreInfo.opened ? 'hardware:keyboard-arrow-up'
                        : 'hardware:keyboard-arrow-down';
                moreInfo.toggle();
            },
            getStepUrl: function(item){
                return this.baseUrl + '/file/'+item.photo;
            },
            getData:function(){
                this.$.getRecipeAjax.url = this.baseUrl + '/recipe'+ this.routeData.path;
                this.$.getRecipeAjax.generateRequest();
            },
            handleRecipesResponse:function(event){
                this.recipe = event.detail.response;
                this.fire("updateToolbarImage",{photo:this.recipe.photos[0]});
            },
            attached:function(){
                this.getData();
            },
            goBlog:function(){
                this.$.ironLocation.set('path', '/blog/'+this.recipe.blog);
            }
        });
    </script>
</dom-module>