<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-left-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-from-right-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="app-menu.html">
<link rel="import" href="app-signup.html">
<link rel="import" href="app-login.html">

<dom-module id="app-guest">
    <template>
        <style include="shared-styles">
            .container {
                @apply(--layout-horizontal);
                @apply(--layout-center-justified);
                padding-top: 100px;
            }
            .menu {
                    display: block;
                }
            paper-button {
                background-color: #fff;
                margin-bottom: 10px;
            }
        </style>
        <div class="container">
            <div class="menu">
                <span class="title-header">COOKING BLOG</span>
                <neon-animated-pages id="neonPages" selected="[[selected]]" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
                    <app-menu></app-menu>
                    <app-login base-url="{{apiUrl}}" stored-user="{{storedUser}}"></app-login>
                    <app-signup base-url="{{apiUrl}}" stored-user="{{storedUser}}"></app-signup>
                </neon-animated-pages>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'app-guest',
            listeners: {
                'show-menu': 'showMenu',
                'show-login': 'showLogin',
                'show-signup': 'showSignup'
            },
            properties: {
                selected: {
                    type: Number,
                    value: 0
                },
                formData: {
                    type: Object,
                    value: {},
                    storedUser: Object,
                    error: String
                }
            },
            showMenu: function () {
                this.$.neonPages.selectIndex(0);
            },
            showLogin: function () {
                this.$.neonPages.selectIndex(1);
            },
            showSignup: function () {
                this.$.neonPages.selectIndex(2);
            }
        });
    </script>
</dom-module>