<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="app-logged.html">
<link rel="import" href="app-guest.html">
<link rel="import" href="app-data.html">
<dom-module id="app-main">
    <template>
        <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
        <app-data key="userData" data="{{storedUser}}"></app-data>
        <template is="dom-if" if="{{storedUser}}">
            <app-logged api-url="{{apiUrl}}" stored-user="{{storedUser}}"></app-logged>
        </template>
        <template is="dom-if" if="{{!storedUser}}">
            <app-guest api-url="{{apiUrl}}" stored-user="{{storedUser}}"></app-guest>
        </template>
    </template>
    <script>
    Polymer({
        is: 'app-main',
        properties:{
            apiUrl:{
                type:String,
                value:"http://localhost:3000",
                readonly:true
            }
        }
    });
    </script>
</dom-module>