<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="components/form-recipe.html">
<dom-module id="app-newrecipe">
    <template>
        <form-recipe base-url="{{baseUrl}}" blog="{{routeData.path}}" user="{{user}}"></form-recipe>
    </template>
    <script>
        Polymer({
            is: 'app-newrecipe',
            properties:{
                user:{
                    type: Object,
                    notify: true
                }
            }
        });
    </script>
</dom-module>