<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-location/iron-location.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="components/input-email.html">
<link rel="import" href="components/input-password.html">

<dom-module id="app-login">
    <template>
        <style include="shared-styles">

        </style>
        <paper-toast id="toast2" class="fit-bottom" text="This toast is red and fits bottom!"></paper-toast>
        <form is="iron-form" method="post" action="[[url]]" id="loginForm">
            <paper-input-container>
                <label>Username</label>
                <input is="iron-input" type="text" bind-value="{{username}}" name="username" required value="{{formData.username}}">
            </paper-input-container>
            <input-password password-value="{{password}}"  required></input-password>
            <paper-button raised class="primary" on-tap="_submit">Log In</paper-button>
            <paper-button class="link" on-tap="showMenu">Cancel</paper-button>
            <button hidden type="submit"></button>
            <div class="output"></div>
        </form>
    </template>
    <script>
    Polymer({
        is: 'app-login',
        properties: {
            showLogin: {
                type: Boolean,
                value: false
            },
            formData: {
                type: Object,
                value: {},
            },
            url:{
                computed:'computeUrl(baseUrl)'
            },
            storedUser: Object,
            error: String
        },
        listeners:{
            "iron-form-presubmit":"_beforeSubmit",
            "iron-form-response":"handleUserResponse",
            "iron-form-error":"handleUserError"
        },
        _beforeSubmit:function(e){
            this.$.loginForm.validate();
        },
        computeUrl: function(baseUrl){
            return baseUrl+'/user/login';
        },
        handleUserResponse: function(event) {
            var response = event.detail.response;
            if (response.token) {
                this.error = '';
                this.storedUser = {
                    name: this.formData.username,
                    id : response.id,
                    token: response.token,
                    favourite_recipes: response.favourite_recipes,
                    subscriptions: response.subscriptions,
                    blogs: response.blogs,
                    loggedin: true
                };
                this.set('route.path', '/home');
            }

            this.resetFormData();
        },
        resetFormData: function() {
            this.formData = {};
        },
        handleUserError: function(event) {
            if (event.detail.request.xhr.status == 401) {
                this.$.toast2.text = "Given username or password is incorrect!";
            } else if (event.detail.request.xhr.status == 400) {
                this.$.toast2.text = "Enter Your credentials to login!";
            } else {
                this.$.toast2.text = "We couldn\'t process Your request, please try again later.";
            }
            this.$.toast2.open();
        },
        showMenu:function(){
            this.fire('show-menu');
        },
        _submit:function(event) {
            Polymer.dom(event).localTarget.parentElement.submit();
        }
    });
    </script>
</dom-module>