<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<dom-module id="app-menu">
    <template>
        <style include="shared-styles">

        </style>
        <paper-button raised on-tap="showLogin">Login</paper-button>
        <paper-button raised on-tap="showSignup">Sign up</paper-button>
    </template>
    <script>
        Polymer({
            is: 'app-menu',
            showSignup: function () {
                this.fire('show-signup');
            },
            showLogin: function () {
                this.fire('show-login');
            }
        });
    </script>
</dom-module>
