<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<!-- shared styles for all views -->
<dom-module id="shared-styles">
    <template>
        <style include="iron-flex iron-flex-alignment">
            .card {
                background-color: #fff;
            }
            
            .title-header {
                font-size: 45px;
            }
            
            paper-fab-menu {
                position: fixed;
                right: 140px;
                bottom: 30px;
            }
            .drawer-list a {
                display: block;
                text-decoration: none;
                color: black;
                line-height: 40px;
            }
            
            .container {
                margin-left: 15px;
                margin-right: 15px;
            }
            
             :root {
                --primary-color: #6290C3;
                --accent-color: #FF573D;
            }
            
            .peach {
                --paper-card-background-color: #75DDDD;
            }
            
            .cyan {
                --paper-card-background-color: #FEFFF9;
            }
            
            .orange {
                --paper-card-background-color: #A0E4FF;
            }
            
            .moon {
                --paper-card-background-color: #CFD8DC;
            }
            
            .min-col25 {
                min-width: 25%;
            }
            
            paper-drawer-panel {
                --paper-drawer-panel-left-drawer-container: {
                    background-color: #FEFFF9;
                };
            }
            #app-container{
                margin-bottom: 100px;
            }
        </style>
    </template>
</dom-module>